<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs (both for Windows and Mac users). If using Windows download then run the `msi` package in both cases.

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

**Installation instructions for Windows users:**

[Install MongoDB Community Edition on Windows](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-windows/)

**The following resources may assist Mac users:**

[Install MongoDB Community Edition on macOS](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-os-x/)

[How to Install Latest MongoDB on macOS](https://www.youtube.com/watch?v=NLw7Tln6IeM)

[How to install HomeBrew (often this helps, if you are having issues with your setup)](https://www.youtube.com/watch?v=IWJKRmFLn-g)

In [61]:
!pip install pymongo

Requirement already satisfied: pymongo in /Users/tresornoel/Desktop/anaconda3/lib/python3.11/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/tresornoel/Desktop/anaconda3/lib/python3.11/site-packages (from pymongo) (2.6.1)

In [62]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.6.3

**Start the mongod server (if it isn't already running):**

Windows:
1. Using Command Prompt navigate to the folder containing `mongod.exe` (e.g. by typing cd "C:\Program Files\MongoDB\Server\7.0\bin").
2.  Execute `mongod` at the prompt.

Mac:
1. Run `brew services start mongodb-community@7.0`

In [67]:
# Creating a client object in our local machine
client = MongoClient('localhost', 27017)

In [68]:
print(client.list_database_names())

['admin', 'config', 'local']

In MongoDB, a **database** stores and manages collections of related data, similar to how you might organise files into folders on your computer.

Create a new database:

In [69]:
db = client.test

A **collection** in MongoDB is similar to a table in a relational database.
Collections store documents (records) in a structured format (usually in BSON, which is a binary representation of JSON).
The people collection likely contains documents related to people, such as user profiles, contact information, or other relevant data.
Each document within the people collection represents an individual person or entity.

In [70]:
print(client.list_database_names())

['admin', 'config', 'local']

It is important to note that MongoDB is lazy: the db won't get created until data has been written to it!

Create a collection called "shoppers" (with object name `mycol`):

In [71]:
#ANSWER
mycol = db.shoppers

Create a document (i.e. a dictionary) with two name:value items
("name" = "Paul", and "address" = "Mansfield Ave") and insert
it into the "shoppers" collection:

In [72]:
#ANSWER:
document = {
    "name": "Paul",
    "address": "Mansfield Ave"
}

Now test for the existence of the database:

In [73]:
#ANSWER:
db_list = client.list_database_names()
if 'test' in db_list:
    print("Database 'test' exists.")
else:
    print("Database 'test' does not exist.")

Database 'test' does not exist.

List all collections in the database:

In [74]:
#ANSWER
db = client.test
collection_list = db.list_collection_names()
print("Collections in 'test' database:", collection_list)

Collections in 'test' database: []

Insert another record in the "shoppers" collection
("name" = "Rafa", "address" = "Holder Drive")
and return the value of the _id field:

In [75]:
new_document = {
    "name": "Rafa",
    "address": "Holder Drive"
}
result = mycol.insert_one(new_document)
print(f"Inserted document ID: {result.inserted_id}")

Inserted document ID: 66a8bc254b5fd71885b58254

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [76]:
mylist = [
  { "name": "Ashton", "address": "Axle St"},
  { "name": "Benjamin", "address": "Green Dr"},
  { "name": "Sally", "address": "Holly Blvd"},
  { "name": "Helen", "address": "Castor Prom"},
  { "name": "Craig", "address": "Parsons Way"},
  { "name": "Betty", "address": "Watters St"},
  { "name": "Aparna", "address": "Yonder Dr"},
  { "name": "Kent", "address": "Garrison St"},
  { "name": "Violet", "address": "Station St"},
  { "name": "Svetlana", "address": "Wayman Ave"}
]

In [77]:
# Insert the documents into the collection
result = mycol.insert_many(mylist)
# Print the inserted document IDs
print(f"Inserted document IDs: {result.inserted_ids}")

Inserted document IDs: [ObjectId('66a8bc264b5fd71885b58255'), ObjectId('66a8bc264b5fd71885b58256'), ObjectId('66a8bc264b5fd71885b58257'), ObjectId('66a8bc264b5fd71885b58258'), ObjectId('66a8bc264b5fd71885b58259'), ObjectId('66a8bc264b5fd71885b5825a'), ObjectId('66a8bc264b5fd71885b5825b'), ObjectId('66a8bc264b5fd71885b5825c'), ObjectId('66a8bc264b5fd71885b5825d'), ObjectId('66a8bc264b5fd71885b5825e')]

Print a list of the _id values of the inserted documents:

In [78]:
# Print the list of _id values
id_list = result.inserted_ids
for _id in id_list:
    print(_id)

66a8bc264b5fd71885b58255
66a8bc264b5fd71885b58256
66a8bc264b5fd71885b58257
66a8bc264b5fd71885b58258
66a8bc264b5fd71885b58259
66a8bc264b5fd71885b5825a
66a8bc264b5fd71885b5825b
66a8bc264b5fd71885b5825c
66a8bc264b5fd71885b5825d
66a8bc264b5fd71885b5825e

Execute the next cell to insert a list of dicts with specified `_id`s:

In [79]:
mylist = [
  { "_id": 1, "name": "Paul", "address": "Mansfield Ave"},
  { "_id": 2, "name": "Rafa", "address": "Holder Drive"},
  { "_id": 3, "name": "Ashton", "address": "Axle St"},
  { "_id": 4, "name": "Benjamin", "address": "Green Dr"},
  { "_id": 5, "name": "Sally", "address": "Holly Blvd"},
  { "_id": 6, "name": "Helen", "address": "Castor Prom"},
  { "_id": 7, "name": "Craig", "address": "Parsons Way"},
  { "_id": 8, "name": "Betty", "address": "Watters St"},
  { "_id": 9, "name": "Aparna", "address": "Yonder Dr"},
  { "_id": 10, "name": "Kent", "address": "Garrison St"},
  { "_id": 11, "name": "Violet", "address": "Station St"},
  { "_id": 12, "name": "Svetlana", "address": "Wayman Ave"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Now try inserting a new dict with an existing `_id`:

In [81]:
# Warning -- This code will return an error as id no: 12 already exists
x = mycol.insert_one({ "_id": 12, "name": "Lola", "address": "Prospect Dr"})

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [25]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('66a781264b5fd71885b58247'), 'name': 'Rafa', 'address': 'Holder Drive'}

Do the same for the document containing "name" = "Ashton":

In [27]:
# Find the document where the name is "Ashton"
ashton_doc = mycol.find_one({"name": "Ashton"})
print("Document containing 'name' = 'Ashton':", ashton_doc)

Document containing 'name' = 'Ashton': {'_id': ObjectId('66a781ee4b5fd71885b58248'), 'name': 'Ashton', 'address': 'Axle St'}

This returns (and prints) all documents in the collection:

In [28]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('66a781264b5fd71885b58247'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a781ee4b5fd71885b58248'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a781ee4b5fd71885b58249'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a781ee4b5fd71885b5824a'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a781ee4b5fd71885b5824b'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66a781ee4b5fd71885b5824c'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66a781ee4b5fd71885b5824d'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a781ee4b5fd71885b5824e'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a781ee4b5fd71885b5824f'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66a781ee4b5fd71885b58250'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a781ee4b5fd71885b58251'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

This returns only the name and address fields:

In [29]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}

Print only the `_id` and name fields:

In [32]:
#ANSWER
for x in mycol.find({}, { "_id": 1, "name": 1 }):
    print(x)

{'_id': ObjectId('66a781264b5fd71885b58247'), 'name': 'Rafa'}
{'_id': ObjectId('66a781ee4b5fd71885b58248'), 'name': 'Ashton'}
{'_id': ObjectId('66a781ee4b5fd71885b58249'), 'name': 'Benjamin'}
{'_id': ObjectId('66a781ee4b5fd71885b5824a'), 'name': 'Sally'}
{'_id': ObjectId('66a781ee4b5fd71885b5824b'), 'name': 'Helen'}
{'_id': ObjectId('66a781ee4b5fd71885b5824c'), 'name': 'Craig'}
{'_id': ObjectId('66a781ee4b5fd71885b5824d'), 'name': 'Betty'}
{'_id': ObjectId('66a781ee4b5fd71885b5824e'), 'name': 'Aparna'}
{'_id': ObjectId('66a781ee4b5fd71885b5824f'), 'name': 'Kent'}
{'_id': ObjectId('66a781ee4b5fd71885b58250'), 'name': 'Violet'}
{'_id': ObjectId('66a781ee4b5fd71885b58251'), 'name': 'Svetlana'}
{'_id': 1, 'name': 'Paul'}
{'_id': 2, 'name': 'Rafa'}
{'_id': 3, 'name': 'Ashton'}
{'_id': 4, 'name': 'Benjamin'}
{'_id': 5, 'name': 'Sally'}
{'_id': 6, 'name': 'Helen'}
{'_id': 7, 'name': 'Craig'}
{'_id': 8, 'name': 'Betty'}
{'_id': 9, 'name': 'Aparna'}
{'_id': 10, 'name': 'Kent'}
{'_id': 11, 'name': 'Violet'}
{'_id': 12, 'name': 'Svetlana'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [33]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('66a781ee4b5fd71885b5824d'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a781ee4b5fd71885b5824e'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a781ee4b5fd71885b58250'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a781ee4b5fd71885b58251'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [60]:
# Selects documents where the value of the field is greater than 30
for shopper in mycol.find({"age": {"$gt": 30}}):
    print(shopper)
print()
# Selects documents where the value of the field is greater than or equal to 30.
for shopper in mycol.find({"age": {"$gte": 30}}):
    print(shopper)
print()
# Selects documents where the value of the field is Paul.
for shopper in mycol.find({"name": {"$eq": "Paul"}}):
    print(shopper)
print()
# Selects the documents where the value of a field equals any value in the array.
for shopper in mycol.find({"name": {"$in": ["Paul", "Rafa"]}}):
    print(shopper)
print()
# Selects the documents where the value of a field does not equal any value in the array
for shopper in mycol.find({"name": {"$nin": ["Paul", "Rafa"]}}):
    print(shopper)
print()
# Matching documents in address.
for shopper in mycol.find({"address": {"$exists": True}}):
    print(shopper)
print()
# Joins query clauses with a logical AND returns all documents that match the conditions below.
for shopper in mycol.find({"$and": [{"age": {"$gt": 30}}, {"name": "Paul"}]}):
    print(shopper)
print()    
# Joins query clauses with a logical OR returns all documents that match the conditions of either clause.
for shopper in mycol.find({"$or": [{"age": {"$gt": 30}}, {"name": "Paul"}]}):
    print(shopper)
print()
# Inverts the effect of a query expression and returns documents that do not match the query expression.
for shopper in mycol.find({"age": {"$not": {"$gt": 30}}}):
    print(shopper)

Now find all docs with an address that begins with "W":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^W" }.)

In [37]:
#ANSWER:
# Find all documents with an address that begins with "W"
query = {"address": {"$regex": "^W"}}

# Execute the query
for shopper in mycol.find(query):
    print(shopper)

{'_id': ObjectId('66a781ee4b5fd71885b5824d'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a781ee4b5fd71885b58251'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Sorting can be applied by invoking the sort() method after the find() method. Sort the collection by the name field:

In [38]:
#ANSWER:
# Sort the documents by the 'name' field 
for shopper in mycol.find().sort("name", 1):
    print(shopper)

{'_id': ObjectId('66a781ee4b5fd71885b5824e'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a781ee4b5fd71885b58248'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a781ee4b5fd71885b58249'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a781ee4b5fd71885b5824d'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a781ee4b5fd71885b5824c'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66a781ee4b5fd71885b5824b'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66a781ee4b5fd71885b5824f'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66a781264b5fd71885b58247'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a781ee4b5fd71885b5824a'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a781ee4b5fd71885b58251'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a781ee4b5fd71885b58250'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}

Now sort in reverse order (HINT: The sort() method takes an optional second parameter.)

In [39]:
#ANSWER
# Sort the documents by the 'name' field in reverse order
for shopper in mycol.find().sort("name", -1):
    print(shopper)

{'_id': ObjectId('66a781ee4b5fd71885b58250'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a781ee4b5fd71885b58251'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a781ee4b5fd71885b5824a'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a781264b5fd71885b58247'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66a781ee4b5fd71885b5824f'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66a781ee4b5fd71885b5824b'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66a781ee4b5fd71885b5824c'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66a781ee4b5fd71885b5824d'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a781ee4b5fd71885b58249'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a781ee4b5fd71885b58248'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a781ee4b5fd71885b5824e'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}

A single record can be deleted by specifying some criterion:

In [40]:
mycol.delete_one({ "address": "Castor Prom" })

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

Now delete all docs with the 2-digit `Id` values:

In [44]:
#ANSWER
# Delete documents with 2-digit _id values
delete_result = mycol.delete_many({"_id": {"$regex": "^\d{2}$"}})

# Print the result of the deletion
print(f"Deleted {delete_result.deleted_count} documents.")

Deleted 0 documents.

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

This would drop the database:
`client.drop_database('test')`

Change the first instance of "address" == "Garrison St" to "Somers Ave" using update_one().  
(HINT: The 1st parameter of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [45]:
#ANSWER:
# update the address from "Garrison St" to "Somers Ave"
update_result = mycol.update_one(
    {"address": "Garrison St"},  # Criterion
    {"$set": {"address": "Somers Ave"}}  # Update operation
)

# Print the result of the update
print(f"Matched {update_result.matched_count} document(s) and modified {update_result.modified_count} document(s).")

Matched 1 document(s) and modified 1 document(s).

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [46]:
#ANSWER:
# Retrieve the first 5 documents
first_five_docs = mycol.find().limit(5)
# Print the first 5 documents
for doc in first_five_docs:
    print(doc)

{'_id': ObjectId('66a781264b5fd71885b58247'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a781ee4b5fd71885b58248'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a781ee4b5fd71885b58249'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a781ee4b5fd71885b5824a'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a781ee4b5fd71885b5824c'), 'name': 'Craig', 'address': 'Parsons Way'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [82]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import pandas as pd
import numpy as np

The following code in the next few cells, will create a database named "command_test" which populates its data from a local JSON file called dummyData.json (you need to download this from the Google Classroom DATA folder) using the mongoimport program.

**Step 1**. Using the command prompt (Windows) or Terminal (Mac) change to the directory containing the file mongoimport.exe (example: cd "C:\Program Files\MongoDB\Tools\100\bin")

**Step 2**. After you have changed your directory, copy/paste the line below in the command prompt/ terminal after modifying "dummydata.json" to include the path on your system where the file is located:
<br>

      mongoimport --db command_test --collection people --drop --file "dummyData.json"       

- db: stands for database name that you use --> in our case, it is "command_test"
- collection: stands for the collection you created within the database --> in our case it is "people"
- file: stands for the file path to your "dummyData.json" file, which you downloaded from our Google Classroom DATA folder - you may need to modify "dummyData.json"

**Step 3**. Copy/paste the line below into the command prompt or terminal:
<br>

    mongoimport -d command_test -c people --file "dummyData.json"

In [83]:
client = MongoClient('localhost', 27017) #connects to your local mongoDB

If the above is successful, running the next cell should produce three records corresponding to the youngest people.

In [84]:
db = client.command_test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('66a8c2b1c3cb3738bebe0498'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('66a8c2b1c3cb3738bebe0455'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('66a8c2b1c3cb3738bebe047e'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [85]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [86]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,66a8c2b1c3cb3738bebe0453,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,66a8c2b1c3cb3738bebe0490,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,66a8c2b1c3cb3738bebe04a2,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,66a8c2b1c3cb3738bebe04a7,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [53]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [54]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

Folium version 0.17.0

In [55]:
#Finally drop the databases created in the lab:
print(client.list_database_names())
client.drop_database('test')
client.drop_database('command_test')
print(client.list_database_names())

['admin', 'config', 'local', 'test']
['admin', 'config', 'local']

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = {"name": "Benjamin", "address": "Green Dr"}
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

In [91]:
# Insert a duplicate record
mydict = {"name": "Benjamin", "address": "Green Dr"}
collection.insert_one(mydict)
# collection.insert_one(mydict)  # Insert the duplicate

InsertOneResult(ObjectId('66a99a994b5fd71885b58261'), acknowledged=True)

In [92]:
# Use Aggregation to Find Duplicates
pipeline = [
    {
        "$group": {
            "_id": {"name": "$name"},
            "uniqueIds": {"$addToSet": "$_id"},
            "count": {"$sum": 1}
        }
    },
    {
        "$match": {
            "count": {"$gt": 1}
        }
    }
]
duplicates = collection.aggregate(pipeline)

In [93]:
# Remove Duplicate Documents
for doc in duplicates:
    del doc['uniqueIds'][0]  # Keep one document
    collection.delete_many({"_id": {"$in": doc['uniqueIds']}})

In [94]:
# Print the collection 
for doc in collection.find():
    print(doc)

{'_id': ObjectId('66a8c2b1c3cb3738bebe0490'), 'Name': 'Byrd, Dante A.', 'Age': 43, 'Country': 'China', 'Location': '31.2, 121.5'}
{'_id': ObjectId('66a99a994b5fd71885b58261'), 'name': 'Benjamin', 'address': 'Green Dr'}

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.

In [95]:
# Create an index on the "name" field
index_name = collection.create_index([("name", 1)])

# Create an index on the "address" field
index_address = collection.create_index([("address", 1)])

# Here, the 1 indicates that the index is in ascending order

# Print the indexes for the collection
indexes = collection.index_information()
for index in indexes:
    print(index, indexes[index])

_id_ {'v': 2, 'key': [('_id', 1)]}
name_1 {'v': 2, 'key': [('name', 1)]}
address_1 {'v': 2, 'key': [('address', 1)]}



>
>
>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---