<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [18]:
import numpy as np

In [19]:
# ANSWER
import pandas as pd
filepath = '/Users/tresornoel/Desktop/IOD/DATA/rock.csv'
rock = pd.read_csv(filepath)
#head
print(rock.head())
#tail
print(rock.tail())
rock.head()

               Song Clean ARTIST CLEAN Release Year  \
0        Caught Up in You  .38 Special         1982
1            Fantasy Girl  .38 Special          NaN
2         Hold On Loosely  .38 Special         1981
3  Rockin' Into the Night  .38 Special         1980
4       Art For Arts Sake         10cc         1975

                                COMBINED  First?  Year?  PlayCount  F*G
0        Caught Up in You by .38 Special       1      1         82   82
1            Fantasy Girl by .38 Special       1      0          3    0
2         Hold On Loosely by .38 Special       1      1         85   85
3  Rockin' Into the Night by .38 Special       1      1         18   18
4              Art For Arts Sake by 10cc       1      1          1    1
                                       Song Clean ARTIST CLEAN Release Year  \
2225                      She Loves My Automobile       ZZ Top          NaN
2226                            Tube Snake Boogie       ZZ Top         1981
2227                                         Tush       ZZ Top         1975
2228                                   TV Dinners       ZZ Top         1983
2229  WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO       ZZ Top         1973

                                               COMBINED  First?  Year?  \
2225                  She Loves My Automobile by ZZ Top       1      0
2226                        Tube Snake Boogie by ZZ Top       1      1
2227                                     Tush by ZZ Top       1      1
2228                               TV Dinners by ZZ Top       1      1
2229  WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...       1      1

      PlayCount  F*G
2225          1    0
2226         32   32
2227        109  109
2228          1    1
2229          2    2

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [20]:
# ANSWER
print(rock.columns)
#A function that converts all names to lowercase and replace special characters
def clean_column_name(column_names):
    clean_column_names = []
    for c in column_names:
        c = c.lower().replace(' ', '_')
        c = c.lower().replace('*', '')
        c = c.lower().replace('?', '')
        clean_column_names.append(c)

    return clean_column_names
#displaying the clean  column names
rock.columns = clean_column_name(rock.columns)
# print(rock.columns)

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [10]:
# ANSWER
#checking the missing values in'release_year'
rock.isnull().sum()

song_clean        0
artist_clean      0
release_year    577
combined          0
first             0
year              0
playcount         0
fg                0
dtype: int64

In [11]:
# Create a mask to find all rows with null values
null_mask = rock['release_year'].isnull()
rock.loc[null_mask, 'release_year'] = 0

In [12]:
#checkimg if therer are any null values in any column
rock.isnull().sum()

song_clean      0
artist_clean    0
release_year    0
combined        0
first           0
year            0
playcount       0
fg              0
dtype: int64

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [13]:
# ANSWER
#checking the data in our data set
rock.dtypes

song_clean      object
artist_clean    object
release_year    object
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

'release_year' column is an object and it should be an integer.

In [16]:
rock['release_year'].value_counts()

release_year
0                577
1973             104
1977              83
1975              83
1970              81
1971              75
1969              72
1980              70
1978              64
1979              63
1981              61
1967              61
1983              60
1976              56
1982              54
1984              51
1972              50
1974              48
1968              46
1985              39
1987              39
1986              37
1991              34
1989              32
1966              30
1988              29
1965              28
1994              25
1990              22
1993              19
1964              14
1992              14
1999              13
1995              10
1997               9
1963               9
1996               9
1998               6
2002               6
2005               5
2004               5
2012               5
2001               4
2007               3
1962               3
2000               3
2011               3
2003               3
2008               3
2014               2
2013               2
2006               1
SONGFACTS.COM      1
1071               1
1958               1
1955               1
1961               1
Name: count, dtype: int64

In [21]:
# find all rows with Songfacts.com value
song_facts_mask = rock['release_year'] == 'SONGFACTS.COM'
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [22]:
# Convert release year to numeric
rock['release_year'] = pd.to_numeric(rock['release_year'])

In [23]:
#check data types to see if release year has been converted
rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [24]:
# ANSWER
#A function that checks the min and max of each column
def check_min_max(df):
    # Check min, max of each column
    print(df.describe().T[['min', 'max']])
# print(rock.min(numeric_only=True))
# print(rock.max(numeric_only=True))

In [25]:
check_min_max(rock)

                 min     max
release_year  1071.0  2014.0
first            1.0     1.0
year             0.0     1.0
playcount        0.0   142.0
fg               0.0   142.0

In [26]:
# Create a mask to find all rows with 0
song_facts_mask = rock['release_year'] == 1071
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [27]:
#checking min_max again to see the minimum release year
check_min_max(rock)

                 min     max
release_year  1955.0  2014.0
first            1.0     1.0
year             0.0     1.0
playcount        0.0   142.0
fg               0.0   142.0

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [68]:
#ANSWER
# #converting the non- numeric values in the release year column to NaN
# rock['release_year'] = pd.to_numeric(rock['release_year'], errors='coerce')
# #Dropping the non- numeric values
# rock = rock.dropna(subset=['release_year'])

In [69]:

#definig the function that takes a row and retuns the columns the song, artist, and whether or not the release date is < 1970
def select_columns(row):
    if row['release_year'] < 1970:
        return row[['song_clean','artist_clean','release_year']]
    else:
        return pd.Series()

#Applying the function on each row
selected_columns = rock.apply(select_columns, axis =1)
#Filter out empty series
selected_columns = rock[rock['release_year'] < 1970][['song_clean', 'artist_clean','release_year']]

print(selected_columns)

                         song_clean        artist_clean  release_year
108             Don't Bring Me Down          Animals II        1966.0
109   Don't Let Me Be Misunderstood          Animals II        1965.0
148           Rock Around the Clock          Bill Haley        1955.0
195          Can't Find My Way Home         Blind Faith        1969.0
196            Presence of the Lord         Blind Faith        1969.0
...                             ...                 ...           ...
2028        We're Not Gonna Take It             The Who        1969.0
2037           Something In the Air  Thunderclap Newman        1969.0
2085                 Happy Together             Turtles        1967.0
2159                Brown Eyed Girl        Van Morrison        1967.0
2207             Time of the Season             Zombies        1968.0

[267 rows x 3 columns]

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [70]:
# ANSWER
import numpy as np

def numeric_columns(col):
    """convert a specific column values to numeric type otherwise to NaN
      parameters:
      df : the dataframe containing the column
      col: the specific column to converts
      Return: The DataFrame with the specified column converted to numeric type.
    """
    col = pd.to_numeric(col, errors = 'coerce')
    return col

### Apply this last function to your dataset

In [71]:
# ANSWER
#applying the function above on my 'rock' dataset
rock[['release_year', 'first', 'year', 'playcount', 'fg']].apply(numeric_columns)

      release_year  first  year  playcount   fg
0           1982.0      1     1         82   82
2           1981.0      1     1         85   85
3           1980.0      1     1         18   18
4           1975.0      1     1          1    1
5           2000.0      1     1         13   13
...            ...    ...   ...        ...  ...
2224        1983.0      1     1        120  120
2226        1981.0      1     1         32   32
2227        1975.0      1     1        109  109
2228        1983.0      1     1          1    1
2229        1973.0      1     1          2    2

[1652 rows x 5 columns]

### 'Describe' the new DataFrame

In [73]:
# ANSWER
rock.describe()

       release_year   first    year    playcount           fg
count   1652.000000  1652.0  1652.0  1652.000000  1652.000000
mean    1978.019976     1.0     1.0    20.312954    20.312954
std       24.191247     0.0     0.0    27.502560    27.502560
min     1071.000000     1.0     1.0     0.000000     0.000000
25%     1971.000000     1.0     1.0     2.000000     2.000000
50%     1977.000000     1.0     1.0     7.000000     7.000000
75%     1984.000000     1.0     1.0    28.000000    28.000000
max     2014.000000     1.0     1.0   142.000000   142.000000

>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---